doctype html
html(lang='pt-br')
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title "App de exemplo"
    style
      include css/index.css

  body
    table(id='tabela')
      tr
        th Nome
        th Sobrenome
        th Telefone
      tr
        td
          != name
        td
          != lastName
        td
          != phone
